on:
  workflow_call:

jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # Need this to get version number from last tag
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build sdist and wheel
        run: >
          export SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct) &&
          uv build

      - name: Upload sdist and wheel as artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist

      - name: Check for packaging errors
        run: uvx twine check --strict dist/*

      - name: Install produced wheel
        run: |
          uv python install 3.12
          uv pip install dist/*.whl

#      - name: Test module --version works using the installed wheel
#        run: >
#          python -m smartem_backend --version &&
#          python -m smartem_agent --help
