on:
  workflow_call:
    inputs:
      python-version:
        type: string
        description: The version of python to install
        required: true
      runs-on:
        type: string
        description: The runner to run this job on
        required: true
    secrets:
      CODECOV_TOKEN:
        required: true

env:
  # https://github.com/pytest-dev/pytest/issues/2042
  PY_IGNORE_IMPORTMISMATCH: "1"

jobs:
  run:
    runs-on: ${{ inputs.runs-on }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # Need this to get version number from last tag
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Determine Python version
        id: python-version
        run: |
          PYTHON_VERSION="${{ inputs.python-version }}"
          if [ "$PYTHON_VERSION" == "dev" ]; then
            PYTHON_VERSION=$(sed -n "s/ARG PYTHON_VERSION=//p" Dockerfile)
          fi
          echo "version=$PYTHON_VERSION" >> "$GITHUB_OUTPUT"

      - name: Set up Python
        run: uv python install ${{ steps.python-version.outputs.version }}

      - name: Install dependencies
        run: uv sync --extra all

      - name: Run tests
        run: uv run pytest --cov --cov-report=xml
